@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    color: whitesmoke;
    position: absolute;
    top: 38%;
    left: 43%;
}

.container h1{
    font-family: 'Lugrasimo', cursive;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid yellowgreen;
    margin-bottom: 1px;
    padding: 10px 0;

}

.box{
    width: 100%;
    margin: 27px 0px;
    border-bottom: 2px solid yellowgreen;
}
.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}
.box i{
    width: 30px;
    text-align: center;
}

.button{
    color: aqua;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.button:hover{
    opacity: 0.5px;
    color: rgb(161, 240, 240);
    background: gray;
}